<?xml version="1.0"?>
<!--
/**
 * @category   Baobaz
 * @package    Baobaz_Ems
 * @copyright  Copyright (c) 2010 Baobaz (http://www.baobaz.com)
 * @author     Arnaud Ligny <arnaud.ligny@baobaz.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Baobaz_Ems>
            <version>0.0.4</version>
        </Baobaz_Ems>
    </modules>
    <settings>
        <ems>
            <debug>0</debug>
            <soap>
                <wsdl><![CDATA[http://ws1.ems6.net/%s.asmx?WSDL]]></wsdl>
            </soap>
        </ems>
    </settings>
    <global>
        <helpers>
            <baobaz_ems>
                <class>Baobaz_Ems_Helper</class>
            </baobaz_ems>
        </helpers>
        <blocks>
            <baobaz_ems>
                 <class>Baobaz_Ems_Block</class>
            </baobaz_ems>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Baobaz_Ems_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <baobaz_ems>
                 <class>Baobaz_Ems_Model</class>
            </baobaz_ems>
        </models>
    </global>
    <frontend>
        <events>
            <customer_save_commit_after>
                <observers>
                    <baobaz_ems_add_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateCustomer</method>
                    </baobaz_ems_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <baobaz_ems_delete_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>deleteCustomer</method>
                    </baobaz_ems_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!--
            <newsletter_subscriber_save_before>
                <observers>
                    <baobaz_ems_update_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </baobaz_ems_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            -->
            <newsletter_subscriber_save_after>
                <observers>
                    <baobaz_ems_update_ems_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateSubscriber</method>
                    </baobaz_ems_update_ems_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <customer_save_commit_after>
                <observers>
                    <baobaz_ems_add_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateCustomer</method>
                    </baobaz_ems_add_subscriber>
                </observers>
            </customer_save_commit_after>
            <customer_delete_before>
                <observers>
                    <baobaz_ems_delete_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>deleteCustomer</method>
                    </baobaz_ems_delete_subscriber>
                </observers>
            </customer_delete_before>
            <!--
            <newsletter_subscriber_save_before>
                <observers>
                    <baobaz_ems_update_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateSubscriberStatusDate</method>
                    </baobaz_ems_update_subscriber>
                </observers>
            </newsletter_subscriber_save_before>
            -->
            <newsletter_subscriber_save_after>
                <observers>
                    <baobaz_ems_update_ems_subscriber>
                        <type>singleton</type>
                        <class>baobaz_ems/observer</class>
                        <method>updateSubscriber</method>
                    </baobaz_ems_update_ems_subscriber>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </adminhtml>
    <default>
        <ems>
            <soap>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </soap>
        </ems>
    </default>
    <!-- every day at 01:00am -->
    <!--
    <crontab>
        <jobs>
            <baobaz_ems_scheduled_actions>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>baobaz_ems/observer::scheduledActions</model></run>
            </baobaz_ems_scheduled_actions>
        </jobs>
    </crontab>
    -->
</config>